* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

button {
    padding: 0 12px;
    margin: 10px;
}

window#waybar {
    background: #141D2B;
    border-bottom: 3px solid transparent;
    color: white;
}

tooltip {
    background: #141D2B;
    border: 1px solid #18B013;
}

tooltip label {
    color: white;
}

#mode,
#clock,
#battery,
#network,
#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
    border-radius: 18px;
    padding: 0 12px;
    margin: 10px;
}

/* #mode {
    background: #64727D;
    border-bottom: 3px solid white;
} */

#clock {
    background-color: #ffffff;
    color: #000000;
}

#battery {
    padding: 0 12px;
    margin: 10px;
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: #0e8403;
    background-color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background: #fff;
    color: #000000;
}

#pulseaudio {
    background: #fff;
    color: #000000;
}

menu {
    border-radius: 15px;
    background: #141D2B;
    border: 1px solid #18B013;
    padding: 20px;
}

menuitem {
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    color: #ffffff;
}